[submodule "proof-of-concept/protocol/lib/forge-std"]
	path = proof-of-concept/protocol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	branch = v1.6.0
[submodule "proof-of-concept/webtorrent"]
	path = proof-of-concept/webtorrent
	url = https://github.com/dappnetbby/webtorrent
[submodule "proof-of-concept/webtorrent-cli"]
	path = proof-of-concept/webtorrent-cli
	url = https://github.com/dappnetbby/webtorrent-cli
